<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myprojects.queueingtheoryapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/queue_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/queue_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.QueueingTheoryApp">
        <activity
            android:name=".Pages.MMcK"
            android:exported="false" />
        <activity
            android:name=".Pages.Chart"
            android:exported="false" />
        <activity
            android:name=".Pages.MMc"
            android:exported="false" />
        <activity
            android:name=".Pages.MM1K"
            android:exported="false" />
        <activity
            android:name=".Pages.MM1"
            android:exported="false" />
        <activity
            android:name=".Pages.SecondCase_Lambda_LT_Mu"
            android:exported="false" />
        <activity
            android:name=".Pages.FirstCase_Lambda_GT_Mu"
            android:exported="false" />
        <activity
            android:name=".Pages.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>